

.social__list {
  list-style: none;
  a {
    content: "";
    display: block;
    width: 28px;
    height: 28px;
    font-size: 0;
    line-height: 0;
  }

  display: flex;
  li {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.social__icon {
  width: 28px;
  height: 28px;
  transition: all 0.3s;
  fill: #c4c4c4;
  &:hover {
    fill: $hover-color;
  }
}

